<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="testing">
    <classes>
      <class name="com.freecrm.test.login.FreeCRMLogin"/>
      <class name="com.freecrm.test.login.FreeCRMLoginNew"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
